# Default ignored files
/shelf/
/workspace.xml
/src/urlsAndKeys.java
/out/production/Bizsearch2/urlsAndKeys.class
/.idea/
res/*
/Bizsearch2.iml
/src/RandomUserAgent.java
/out/production/Bizsearch2/RandomUserAgent.class
/res/Alabama.csv
/Alabama.csv
